html {
  font-size: 62.5%;
  background-color: rgb(240 240 242);
}

body {
  cursor: default;
  font-size: 1.4rem;
  position: relative;
  color: #1e2b3a;
  font-weight: 400;
  font-family: "Monda", sans-serif;
}
